
  .row {
    display: flex;
    // flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 0;

    .image {
      text-align: right;
     
      flex: 1 1 35rem;
      
    }
    img {
    //   margin: 4rem;
    
      width: 20rem;
      height: auto;
      margin: auto;
      margin-left: 165px;
      border-radius: 5%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
   
      transition: 0.3s;
      cursor: pointer;
    }
    .content {
      flex: 1 1 45rem;
      padding: 3rem;

      h3 {
        color: rgb(27, 27, 27);
        font-size: 25px;
      }
      .tag {
        font-size: 17px;
        color: #020133;
        margin-top: 1rem;
      }
      p {
        font-size: 17px;
        margin-top: 1.5rem;
        text-transform: none;
      }
      .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        font-weight: 600;

        .box p {
            text-transform: none;
            span {
                color: #011aff;
              }
          }
      }
      .resumebtn {
        margin-top: 6rem;
      }
      .resumebtn .btn {
        padding: 1.7rem 3rem;
        border-radius: 0.5em;
        transition: 0.3s;
        color: #fff;
        background: #2506ad;
        box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
        font-family: "Nunito", sans-serif;
      }
      .resumebtn .btn span {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.1rem;
      }
      .resumebtn .btn i {
        margin-left: 0.3rem;
        font-size: 1.2rem;
        transition: 0.3s;
      }
      .resumebtn .btn:hover {
        background: #1a047e;
      }
      .resumebtn .btn:hover i {
        transform: translateX(5px);
      }
    }
  }

  .row .image img:hover {
    mix-blend-mode: normal;
  }

/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}
